# Site Settings
title                    : "Bhanu Prakash Vangala"
description              : "Ph.D. Student in Computer Science"
repository               : "bhanuprakashvangala/bhanuprakashvangala.github.io"

# Google Analytics
google_analytics_id      : G-JFP04P2CJV

# SEO Related
google_site_verification : UT_lVOnAes50EAwbsIFw8BrxTnE8YPxiDLWzPE

# Site Author
author:
  name             : "Bhanu Prakash Vangala"
  avatar           : "images/Bhanu1.jpg"
  bio              : "Ph.D. Student, University of Missouri"
  location         : "Columbia, MO"
  email            : "bv3hz@umsystem.edu"
  github           : "bhanuprakashvangala"
  linkedin         : "vangalabhanuprakash"
  cv               : "https://drive.google.com/file/d/1tlWZiUilKqoZiyHjKfpueTkGkwACzpqi/view?usp=sharing"
  googlescholar    : "https://scholar.google.com/citations?user=YOUR_ID"

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor
  - google_scholar_crawler
  - github_myprofile_updater
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: default
      author_profile: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: America/Chicago

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from

whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
