<div class="masthead">
  <div class="masthead__inner">
    <a class="masthead__brand" href="{{ '/' | relative_url }}">
      <span class="masthead__title">{{ site.title }}</span>
      {% if site.description %}<span class="masthead__tagline">{{ site.description }}</span>{% endif %}
    </a>

    <nav class="site-nav" aria-label="Primary navigation">
      <button class="site-nav__toggle" type="button" aria-expanded="false" aria-controls="site-menu">
        <span class="site-nav__toggle-text">Menu</span>
      </button>
      <ul class="site-nav__links" id="site-menu">
        {% for link in site.data.navigation.main %}
          <li class="site-nav__item"><a class="site-nav__link" href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
